*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.about-box{
    padding: 5%;
}
.main-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(247, 248, 248);
}
.first-box{
    padding: 8%;
    text-align: justify;
}
.first-box h1{
    margin-bottom: 20px;
    font-size: 30px;
    color: rgba(132, 209, 209, 0.545);
}
.first-box p{
    font-size: 20px;
    line-height: 1.6;
}
.second-box{
    height: 500px;
}
.second-box img{
    width: 100%;
    height: 500px;
    overflow:hidden;
}

@media (max-width:1400px){
    .first-box p{
        font-size: 18px;
    }
}

@media(max-width:1120px){
    .first-box p{
        font-size: 16px;
    }
}
@media (max-width:875px){
    .first-box p{
        line-height: 1.5;
    }
}
@media (max-width:715px)
{
    .second-box{
        display: none;
    }
    .main-box{
        display: block;
    }
}