*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footerr{
    background-color: rgba(0, 0, 0, 0.811);
    text-align: center;
    padding: 50px;
}
.icon-box{
    background-color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon-box i{
    font-size: 20px;
    margin-top: 25%;
}
.footer-info{
    color: white;
    margin: 10px;
}
.copyright{
    color: rgb(165, 150, 150);
}

